/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: "Montserrat", sans-serif;
    background-color: #f9f9f9;
}
h2 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 50px;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
}
p {
    font-size: 1.2rem;
    margin: 10px 0;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;

}
